numpy==1.26.4
av==12.1.0
torch==2.3.0
torchvision==0.16.0
huggingface_hub==0.23.2
transformers==4.41.2
uvicorn==0.23.2
pydantic==1.10.12
fastapi==0.95.2
aiohttp==3.9.5
requests==2.32.3
gunicorn==20.1.0



# fastapi
# uvicorn[standard]
# pydantic
# gunicorn
# openpyxl
# numpy
# av
# torch
# huggingface_hub
# transformers
# pytorchvideo
# evaluate
# accelerate
# torchvision==0.16.0


# fastapi 
# uvicorn[standard]
# pydantic 
# gunicorn 
# openpyxl 
# numpy
# av
# torch
# huggingface_hub
# transformers
# python-multipart
# fsspec
# s3fs